<nb-layout>
  <nb-layout-header fixed>
    <div *ngIf="authService.angularFireAuth.authState | async as user; else showlogin">
      {{user.displayName}}
      <button nbButton (click)="authService.logout()" class="ml-auto" status="primary">logout</button>
    </div>
    <ng-template #showlogin>
      <button nbButton (click)="authService.login()" class="ml-auto" status="primary">login</button>
    </ng-template>
  </nb-layout-header>

  <nb-sidebar>
    <nb-menu [items]="menu"></nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>