
<div>
    <button nbButton status="primary" class="move-right mb-2">Create Article</button>
</div>
<nb-card>
    <nb-card-body>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                    <th scope="col" style="width: 100px;" class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <button nbButton ghost size="small"><nb-icon icon="edit-2-outline"></nb-icon></button>
                            <button nbButton ghost size="small" status="danger"><nb-icon icon="trash-2-outline"></nb-icon></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </nb-card-body>
</nb-card>