<nb-card class="card">
    <nb-card-header>Post Form</nb-card-header>
    <nb-card-body>
        <form [formGroup]="form">
            <div class="input-group mb-3">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile01" (change)="uploadImage($event)">
                  <label class="custom-file-label" for="inputGroupFile01">{{ this.file ? this.file.name : 'Choose file' }}</label>
                </div>
              </div>
            <input type="text" class="mb-2" nbInput fullWidth status="basic" formControlName="title" placeholder="Title">
            <ckeditor [editor]="editor" formControlName="body"></ckeditor>
        </form>
    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-end">
        <button nbButton (click)="onSubmit()" class="mr-2" status="primary">Submit</button>
        <button nbButton (click)="close()">close</button>
    </nb-card-footer>
</nb-card>