.column-container nb-layout-column {
  display: flex;
  justify-content: center;
}
.ads {
  max-width: 20% !important;
}

@media only screen and (max-width: 1300px) {
  ::ng-deep .layout-container .content .columns {
    display: block !important;
  }
}
